$primario: #fff;
$secundario: #000;
$fondo-negro: #090909;
$fondo-claro: #f7efad;
$texto-cel-oscuro: #0800ff;
$texto-cel-claro: #00cfff;
$fuente: 'Open Sans', sans-serif;
$fuente-light: 300;
$fuente-regular: 400;
$fuente-bold: 700;
$imagen: url(../media/img-fondo1.jpg);